@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body{
    font-family: 'NanumSquareRound';
    color: #545045;
    font : normal 1rem/1.25;
    background-color:#f7f4f0;
}

.navbar{
    background-color: #f7f4f0 !important;
    padding : 0 20px;
    margin : auto;
    font-size: 16px;
    color: #545045;
    font-weight: 600;
}
.navbar-brand {
    background: url("./images/kblogo.png") no-repeat 0 50%;;
    display:block;
    width: 82px;
    height: 32px;
    background-size: auto 32px;
    cursor:pointer;
}

.box{
    width: 56px;
    height: 56px;
    border-radius:50%;
    display: block;
    position: relative;
    overflow:hidden;
}

.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.iconRight{
    width: 56px;
    height: 56px;
}

.fa-bell{
    color:#545045;
}

.fa-calendar{
    color: #545045;
}

.main{
    background-color: #f7f4f0;
}